<div class="d-flex justify-content-between">
    <div class="cont1 m-3">
        <span>Your Events</span>
    </div>
    <div class="d-flex">
        <div class="input-block m-3">
            <i class="pi pi-search m-2"></i>
            <input type="search" placeholder="Search events..." >
        </div>
        <div>
            <a class="btn m-3">
                <i class="pi pi-plus me-2"></i>
                <span>Create Event</span>
            </a>
        </div>
    </div>
</div>
<div class="cont3 m-3">
  <span>No Records Found</span>
</div>