<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex align-items-center justify-content-between w-100">
        <div>
            <a class="navbar-brand text-center d-flex align-items-center" href="#">
                <img src="../../assets/LOGO.png" alt="uprise-logo" width="32" height="32" class="ms-2">
                <span class="brand-name ms-2">UPRISE</span>
            </a>
        </div>
        <div class="d-flex">
            <img src="../../../assets/avatar(1) 2.png" width="40" height="40" class="me-3">
            <a class="me-3 username btn" type="submit" (click)="LogOut()">{{user}}</a>
            
            
        </div>
    </div>
</nav>
