<div class="d-flex justify-content-between ">
    <div class="m-3 cont1">
        <a>All Songs</a>
    </div>
    <div class="m-3 cont2 d-flex">
        <div class="input-block">
            <i class="pi pi-search icon ms-1 me-1"></i>
            <input type="search" placeholder="Search songs..." class="m-1">
        </div>
        <a class="btn ms-3">
            <i class="pi pi-cloud-upload icon ms-1 me-2"></i>
            <span>Upload Song</span>
        </a>

    </div>
</div>
<div class="cont3">
    <p-table [value]="songs">
        <ng-template pTemplate="header">
            <tr>
                <th class="text text-center">Poster</th>
                <th class="text text-center ">Title</th>
                <th class="text text-center">Duration</th>
                <th class="text text-center">Genere</th>
                <th class="text text-center">Location</th>
                <th class="text text-center">Uploaded on</th>
                <th class="text text-center">Live</th>
                <th class="text text-center">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-song>
            <tr>
                <td class="text text-center">
                    <img [src]="song.thumbnail" alt="Thumbnail" width="50" height="50">
                </td>
                <td class="text text-center">{{song.title}}</td>
                <td class="text text-center">{{formatTime(song.duration)}}</td>
                <td>
                    <ul>
                        <li *ngFor="let genre of song.genres">{{ genre.genre_name}}</li>
                    </ul>
                </td>
                <td class="text text-center">{{song.country}},{{song.cityName}}</td>
                <td class="text text-center">{{song.createdAt}}</td>
                <td class="text text-center">
                   <p-inputSwitch [(ngModel)]="song.live"></p-inputSwitch>
                </td>
                <td class="text text-center">
                    <i class="pi pi-trash me-1"></i>
                    <i class="pi pi-pencil ms-1"></i>
                </td>
            </tr>

        </ng-template>
    </p-table>

</div>
