.cont{
    background-color:black;
    height:100vh;
    overflow: hidden;
    color: white;
}
.button1 a{
    color:white;
   font-size: 14px;
   line-height: 22px;
   font-style: normal;
   font-weight: 500;
   font-family: 'Oswald';
   text-decoration: none;
}

.button1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff; /* Set the default text color */
  }
  

  
  .button1 .active{
    color: var(--primary-color);
  }
