<div class="cont text-left d-flex flex-column">
    <div  class="button1 p-3" >
        <i class="fa fa-music me-2"></i>
        <a routerLink="./songs" routerLinkActive="active">Songs Management</a>
    </div>
    <div class=" button1 p-3">
        <i class="fa fa-calendar me-2"></i>
        <a routerLink="./event" routerLinkActive="active">Event Management</a>
    </div>
    <div class="button1 p-3">
        <i class="fa fa-group me-2"></i>
        <a routerLink="./band" routerLinkActive="active">Band Profile</a>
    </div>
</div>
