<div class="cont text-left d-flex flex-column">
    <div  class="button1 p-3" >
        <a routerLink="./songs" routerLinkActive="active" >
        <i class="fa fa-music me-2"></i>
        <span>Songs Management</span>
        </a>
    </div>
    <div class=" button1 p-3">
        <a routerLink="./event"  routerLinkActive="active" >
        <i class="fa fa-calendar me-2"></i>
        <span>Event Management</span>
        </a>
    </div>
    <div class="button1 p-3">
        <a routerLink="./band" routerLinkActive="active" >
        <i class="fa fa-group me-2"></i>
        <span>Band Profile</span>
        </a>
    </div>
</div>
